@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  border-radius: 12px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  background-color: #16213e;
  color: #ffffff;
  font-family: "Roboto Mono", monospace;
}

.center-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.side-nav {
  position: fixed;
  z-index: 1000;
  background-color: #1a1a2e;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  min-height: 100vh;
}

.divider {
  border-top: 3px solid #333345;
}

.side-nav-icon {
  width: 30px;
  height: 30px;
}

.side-nav-link:hover {
  background-color: #4c4c5c;
  border: 1px solid #16213e;
  border-radius: 5px;
}

.side-nav-icon:hover {
  background-color: #e94560;
}

.search-bar {
  color: #ffffff;
  background: #222c48 0% 0% no-repeat padding-box;
  border: 1px solid #2f3953;
  border-radius: 5px;
  opacity: 1;
}

.image-area {
  min-height: 70vh;
}

.img-card {
  width: 396px;
  height: 281px;
  border-radius: 5px;
  background: transparent;
  opacity: 1;
  padding: 20px;
  margin: 10px;
}

.img-card > img {
  height: 100%;
}

.clear-btn {
  background: #222c48;
  border: none;
  color: #ffffff;
  padding: 5px;
}

.slider-area {
  background: transparent;
  position: fixed;
  z-index: 1000;
  color: #ffffff;
  width: 80%;
  top: 80px;
}

.close-btn {
  float: right;
  background: transparent;
  color: #ffffff;
  border: none;
}

.slider {
  width: 1020px;
  height: 585px;
  background: #151515 0% 0% no-repeat padding-box;
  border: 1px solid #16213e;
  border-radius: 5px;
  opacity: 1;
}
